<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono|VT323" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="static/main.css">

<body style="text-align: center;">
	<h1>Matrixify</h1>

	<p style="color: red">(Upload only image files and keep the filename short)</p>
	<form action="{{url_for('result')}}" method="POST" enctype="multipart/form-data">
		<input type="file" name="file" value=""><br>
		<input type="submit" name="submit">
	</form>
	<p>| Recommended : PNG Images |</p>
	<footer>
		<p>Star <a href="https://github.com/jrathod9/Matrixify">this repo</a></p>
	</footer>
</body>
</html>